@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Primary colors */

    --strong-cyan: hsl(172, 67%, 45%);

    /* Neutral colors */

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    background-color: var(--light-grayish-cyan);
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-logo {
    width: 5.41em;
    height: 3.32em;
    margin: 3rem;
  }

  .calculator {
     background-color: var(--white);
     border-radius: 1.5rem;
     padding: 2rem;
     width: 100vw;
     max-width: 23.43rem;
     display: grid;
     grid-gap: 1.5rem;
  }

  .label {
    font-size: 1rem;
    color: var(--dark-grayish-cyan);
    margin-bottom: .5rem;
  }

  .gray-space {
    background-color: var(--very-light-grayish-cyan);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    padding: .2rem;
  }

  .icon {
    padding: .8rem 1rem;
  }

  .upper-number,
  .lower-number{
    margin-left: auto;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--very-dark-cyan);
    margin-right: 1rem;
    background-color: transparent;
    width: 80%;
    height: 80%;
    border: none;
  }

  .custom > input {
    width: 60%;
    height: 90%;
    border: none;
    background-color: transparent;
  }

  .upper-number:focus,
  .lower-number:focus,
  .custom > input{
    outline: none;
  }

  .percent-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 3rem 3rem;
    gap: 1rem;
  }

  .percent-button {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    border-radius: .3rem;
    font-size: 1.5rem;
  }

  .custom {
    background-color: var(--very-light-grayish-cyan);
    color: var(--dark-grayish-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .last-section {
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
    color: var(--white);
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .per-person {
    display: grid;
    grid-template: 'a b'
                   'c b';
  }

  .per-person__title {
    grid-area: a;
    font-size: 1rem;
  }

  .per-person__below {
    grid-area: c;
    font-size: 13px;
    color: var(--grayish-cyan);
  }

  .total-per-person,
  .amount-per-person {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--strong-cyan);
    font-size: 2rem;
  }

  .reset {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border: none;
    border-radius: .3rem;
    text-transform: uppercase;
    padding: .5rem;
  }

  button {
    cursor: pointer;
  }

  .percent-div > *:not(:last-child):hover,
  .reset:hover {
    background-color: hsl(172, 67%, 80%);
    color: var(--very-dark-cyan);
  }

  .custom:hover,
  .gray-space:has(> input.upper-number):hover {
    outline: 2px solid var(--strong-cyan);
    cursor: pointer;
  }

  fieldset {
    border: none;
  }

  